@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  padding: 9rem 1.5rem;
  .contacts{
    padding-top: 2rem;
  }
  .new-contact{
    width: 50%;
    padding: 2rem;
    .btn{
      margin-top: 10px;
    }
  }
}
